<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>RequestToken</servlet-name>
		<servlet-class>ltguide.minebackup.servlet.RequestToken</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RequestToken</servlet-name>
		<url-pattern>/request_token</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AccessToken</servlet-name>
		<servlet-class>ltguide.minebackup.servlet.AccessToken</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AccessToken</servlet-name>
		<url-pattern>/access_token</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Sign</servlet-name>
		<servlet-class>ltguide.minebackup.servlet.Sign</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Sign</servlet-name>
		<url-pattern>/sign</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
